<div class="summary">

    <div class="summary-card">

        <h3>Total</h3>

        <p id="total">

            {{ modules|length }}

        </p>

    </div>

    <div class="summary-card">

        <h3>Passed</h3>

        <p id="passed">

            0

        </p>

    </div>

    <div class="summary-card">

        <h3>Failed</h3>

        <p id="failed">

            0

        </p>

    </div>

    <div class="summary-card">

        <h3>Time</h3>

        <p id="time">

            --

        </p>

    </div>

</div>